{{ form_start(formListe, {'attr':{'id':'formListe', 'enctype':"multipart/form-data"}, 'action':path('listeCreate') }) }}
{{ form_row (formListe.nom)}}
<input type="hidden" id="nbQuestions" name="nbQuestions">
<input type="hidden" id="nbQuestionsAncienne" name="nbQuestionsAncienne">
<table id="tableQuestions">
    <tr>
        <th>Réponse</th>
        <th>Image</th>
        <th>Audio</th>
    </tr>
    <tr>
        <td colspan="2"><button type="button" onclick="addQuestion()">Ajouter une question</button>
        </td>
    </tr>
    <tr id="copy" style="display: none">
        <td><input type="text" id="reponse"></td>
        <td><input type="file" id="image"> </td>
        <td><input type="file" id="audio"> </td>
    </tr>
</table>
<input type="submit" onclick="" value="ok">
<table id="motPris">
    {%  for question in questionsPrise %}
        <tr id="tr{{ question.id }}">
            <td><button onclick="move({{  question.id }})" type="button" >Changer</button></td>
            <td>{{ question.reponse }}<input type="hidden" name="q[]" value="{{ question.id }}"></td>
        </tr>
    {% endfor %}
</table>

{{ form_end(formListe) }}
<table id="motLibre">
    {%  for question in questions %}
        <tr id="tr{{ question.id }}">
            <td><button onclick="move({{  question.id }})" type="button" >Changer</button></td>
            <td>{{ question.reponse }}<input type="hidden" name="q[]" value="{{ question.id }}"</td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var i=0;
    function addQuestion(){
        var tr = $('#copy').clone();
        tr.show();
        tr.find('#reponse').attr('name',"question"+i+"[reponse]");
        tr.find('#image').attr('name',"question"+i+"[image]");
        tr.find('#audio').attr('name',"question"+i+"[audio]");
        tr.appendTo('#tableQuestions');
        i++;
        $('#nbQuestions').val(i);
    }

    function move(id){
        var tr = $('#tr'+id);
        //var src =  $('#img'+id).attr('src');

        $('#tr'+id+' td:first-child').appendTo(tr);

        if(tr.parent().parent().attr('id')=== 'motLibre'){
            tr.appendTo('#motPris');
            //$('#img'+id).attr('src',src.replaceAll('left','right'));
        }
        else if(tr.parent().parent().attr('id')=== 'motPris'){
            tr.appendTo('#motLibre');
            //$('#img'+id).attr('src',src.replaceAll('right','left'));
        }


    }
    
</script>