{% extends 'base.html.twig' %}

{% block title %}Hello DefautController!{% endblock %}

{% block body %}

    <div class="alert alert-dismissible alert-info">
        <center><h4 class="alert-heading" id="verif"></h4></center>
    </div>

    <center>
        <div class="progress placement-top w-50">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%;"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div style="margin-left: 55%; margin-top: -1.5%;">
            <span class="badge badge-primary badge-pill"> 10% </span>
        </div>
    </center>

    {% for key, question in liste.questions %}
        <input type="hidden" id="reponse{{ key }}">
        <div class="flex-card" id="div{{ key }}" style=" display: none">
            {% if question.urlImage != null %}
                <div class="card border-success mb-3 m-5" style="max-width: 20rem;">
                    <div class="card-header">
                        <center>Image</center>
                    </div>
                    <div class="card-body">
                        <center><h4 class="card-title">????????????</h4></center>
                        <img src="{{ asset(question.urlImage) }}" alt="Girafe"
                             width="250">
                    </div>
                </div>
            {% endif %}
            {% if question.urlAudio != null %}
                <div class="card border-info mb-3 m-5" style="max-width: 20rem;">
                    <div class="card-header">
                        <center>Audio</center>
                    </div>
                    <div class="card-body">
                        <center><h4 class="card-title">????????????</h4></center>
                        <audio src="{{ asset(question.urlAudio) }}" alt="Audio"
                               width="250">
                        </audio>
                    </div>
                </div>
            {% endif %}
        </div>

    {% endfor %}

    <center>
        <div style="display: flex; margin-left: 42%">
            <div class="form-group has-success" style="width: 31%; margin-top: -2%;">
                <label class="form-control-label" for="inputValid">Reponse ?</label>
                <input type="text" value="Reponse ?" class="form-control is-valid" id="inputValid">
                <br>
                <div>
                    <button type="button" class="btn btn-outline-success">Valider</button>
                </div>
            </div>
        </div>
    </center>

    <script>
        let i = 0;
        let score = 0;

        function valider() {
            let inputValid = document.getElementById('inputValid').value;
            let reponse = document.getElementById('reponse' + i);

            if (inputValid.toLowerCase() === reponse.toLowerCase()) {
                score++;
            } else {
                let verif = document.getElementById('verif').innerText = 'Perdu !!! la bonne reponse est : ' + reponse
            }
            document.getElementById('div' + i).style.display = 'none'
            i++

            if (i < {{ liste.questions|length }}) {
                document.getElementById('div' + i).style.display = 'flex'
            } else {
                document.getElementById('verif').innerText = 'Perdu !!! la bonne reponse est : ' + reponse
            }
        }

        document.getElementById('div0').style.display = 'flex'

    </script>

{% endblock %}






